---
- name: Import Module
  win_shell: |
    # Configure outbound-proxy
    [system.net.webrequest]::defaultwebproxy = new-object system.net.webproxy('{{ proxy_env.https_proxy }}')
    [system.net.webrequest]::defaultwebproxy.BypassProxyOnLocal = $true

    # Import module
    Import-Module "$env:ProgramFiles\windows admin center\PowerShell\Modules\ExtensionTools"

    # Install extension
    Install-Extension -GatewayEndpoint "https://localhost:443" "{{ item.name }}"
  loop:
    - "{{ wac_extensions }}"